.navbar-spu{
    background-color: #f2e6c2;
    color: #260101;
}

.navbar-spu a{
    color: #805918;
}

.active a{
    color: #260101;
}
.bg-spu{
    background-color: #f2e6c2;
}

.logo{
    height: 90px;
}

footer{
    color: #ffffff;
    background-color: #260101;
    padding: 10px;
}
footer .memoria{
    color: #d9b573;
    padding-top:  30px;
}

footer .memoria a{
    color: #d9b573;
}

.barra-branca{
    background-color: #ffffff;
}