body {
    padding-top: 0 !important;
}
.navbar-spu{
    color: #260101;
}

.h-200{
    height: 300px !important;
}
.navbar-spu a{
    color: #805918;
}

.active a{
    color: #260101;
}
.spu-bg-2{
    background-color: #f2e6c2;
}

.logo{
    height: 90px;
}

footer{
    color: #ffffff;
    background-color: #260101;
    padding: 10px;
}
footer .memoria{
    color: #d9b573;
    padding-top:  30px;
}

footer .memoria a{
    color: #d9b573;
}

.barra-branca{
    background-color: #ffffff;
}

.spu-bg-1{
    background-color: #f2e1ac !important;
}

.noticias-item {
    padding: 30px 10px;
    background-color: transparent !important;
}